body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:283px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4074 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:520px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4075 {
  position:absolute;
  left:2px;
  top:252px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4076 {
  position:absolute;
  left:10px;
  top:60px;
  width:270px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4077 {
  position:absolute;
  left:2px;
  top:76px;
  width:266px;
  word-wrap:break-word;
}
#u4078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4078 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:0px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:14px;
}
#u4080 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:14px;
}
#u4081 {
  position:absolute;
  left:2px;
  top:-1px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4082 {
  position:absolute;
  left:0px;
  top:16px;
  width:290px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4083 {
  position:absolute;
  left:2px;
  top:9px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u4084 {
  position:absolute;
  left:4px;
  top:19px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4085 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4086 {
  position:absolute;
  left:124px;
  top:25px;
  width:43px;
  height:16px;
}
#u4087 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4088 {
  position:absolute;
  left:100px;
  top:207px;
  width:15px;
  height:15px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4090 {
  position:absolute;
  left:125px;
  top:207px;
  width:15px;
  height:15px;
}
#u4091 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4092 {
  position:absolute;
  left:150px;
  top:207px;
  width:15px;
  height:15px;
}
#u4093 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4094 {
  position:absolute;
  left:175px;
  top:207px;
  width:15px;
  height:15px;
}
#u4095 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
}
#u4096 {
  position:absolute;
  left:200px;
  top:233px;
  width:35px;
  height:20px;
}
#u4097 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u4098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
}
#u4098 {
  position:absolute;
  left:243px;
  top:233px;
  width:35px;
  height:20px;
}
#u4099 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u4100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4100 {
  position:absolute;
  left:210px;
  top:258px;
  width:15px;
  height:20px;
}
#u4101 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4102 {
  position:absolute;
  left:246px;
  top:258px;
  width:29px;
  height:20px;
}
#u4103 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4104 {
  position:absolute;
  left:11px;
  top:292px;
  width:71px;
  height:16px;
}
#u4105 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4106 {
  position:absolute;
  left:41px;
  top:316px;
  width:210px;
  height:49px;
}
#u4107 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u4108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u4108 {
  position:absolute;
  left:0px;
  top:281px;
  width:290px;
  height:1px;
}
#u4109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4110 {
  position:absolute;
  left:11px;
  top:385px;
  width:71px;
  height:16px;
}
#u4111 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4112 {
  position:absolute;
  left:41px;
  top:409px;
  width:210px;
  height:82px;
}
#u4113 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u4114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u4114 {
  position:absolute;
  left:0px;
  top:374px;
  width:290px;
  height:1px;
}
#u4115 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4117 {
  position:absolute;
  left:0px;
  top:325px;
  width:290px;
  height:152px;
}
#u4118 {
  position:absolute;
  left:2px;
  top:68px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#DDDDDD;
}
#u4119 {
  position:absolute;
  left:9px;
  top:333px;
  width:85px;
  height:20px;
  color:#DDDDDD;
}
#u4120 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u4121 {
  position:absolute;
  left:-7px;
  top:477px;
  width:290px;
  height:1px;
}
#u4122 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u4123 {
  position:absolute;
  left:9px;
  top:487px;
  width:27px;
  height:27px;
  font-size:30px;
}
#u4124 {
  position:absolute;
  left:2px;
  top:-4px;
  width:23px;
  word-wrap:break-word;
}
#u4125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4125 {
  position:absolute;
  left:37px;
  top:485px;
  width:30px;
  height:30px;
}
#u4126 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4127 {
  position:absolute;
  left:77px;
  top:489px;
  width:170px;
  height:26px;
}
#u4128 {
  position:absolute;
  left:2px;
  top:5px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCCC;
}
#u4129 {
  position:absolute;
  left:83px;
  top:494px;
  width:85px;
  height:20px;
  color:#00CCCC;
}
#u4130 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4131 {
  position:absolute;
  left:252px;
  top:492px;
  width:29px;
  height:20px;
}
#u4132 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4133 {
  position:absolute;
  left:111px;
  top:232px;
  visibility:hidden;
}
#u4133_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4133_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#FF0000;
}
#u4134 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:83px;
  font-size:72px;
  color:#FF0000;
}
#u4135 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
