body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3753 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:520px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3754 {
  position:absolute;
  left:2px;
  top:252px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3755 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3756 {
  position:absolute;
  left:2px;
  top:0px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:14px;
}
#u3757 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:14px;
}
#u3758 {
  position:absolute;
  left:2px;
  top:-1px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u3759 {
  position:absolute;
  left:109px;
  top:407px;
  width:72px;
  height:72px;
}
#u3760 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u3761 {
  position:absolute;
  left:122px;
  top:420px;
  width:46px;
  height:46px;
}
#u3762 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:50px;
}
#u3763 {
  position:absolute;
  left:44px;
  top:414px;
  width:55px;
  height:59px;
  font-size:50px;
}
#u3764 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u3765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:50px;
}
#u3765 {
  position:absolute;
  left:227px;
  top:414px;
  width:55px;
  height:59px;
  font-size:50px;
}
#u3766 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u3767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:370px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3767 {
  position:absolute;
  left:0px;
  top:16px;
  width:290px;
  height:370px;
}
#u3768 {
  position:absolute;
  left:2px;
  top:177px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
