body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3613 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:520px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3614 {
  position:absolute;
  left:2px;
  top:252px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3615 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3616 {
  position:absolute;
  left:2px;
  top:0px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:14px;
}
#u3617 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:14px;
}
#u3618 {
  position:absolute;
  left:2px;
  top:-1px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:504px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3619 {
  position:absolute;
  left:0px;
  top:16px;
  width:290px;
  height:504px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3620 {
  position:absolute;
  left:2px;
  top:244px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3621 {
  position:absolute;
  left:6px;
  top:25px;
  width:221px;
  height:24px;
}
#u3622 {
  position:absolute;
  left:2px;
  top:4px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3623 {
  position:absolute;
  left:238px;
  top:28px;
  width:29px;
  height:16px;
}
#u3624 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#DDDDDD;
}
#u3625 {
  position:absolute;
  left:37px;
  top:28px;
  width:57px;
  height:16px;
  color:#DDDDDD;
}
#u3626 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3627 {
  position:absolute;
  left:14px;
  top:31px;
  width:12px;
  height:12px;
}
#u3628 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
