body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:282px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:520px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u73 {
  position:absolute;
  left:2px;
  top:252px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u75 {
  position:absolute;
  left:2px;
  top:0px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:15px;
}
#u76 {
  position:absolute;
  left:-20px;
  top:0px;
  width:322px;
  height:15px;
}
#u77 {
  position:absolute;
  left:2px;
  top:0px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u78 {
  position:absolute;
  left:125px;
  top:249px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u80 {
  position:absolute;
  left:51px;
  top:290px;
  width:181px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:237px;
  top:30px;
  width:39px;
  height:28px;
}
#u83 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:114px;
}
#u84 {
  position:absolute;
  left:86px;
  top:113px;
  width:118px;
  height:113px;
  font-size:18px;
}
#u85 {
  position:absolute;
  left:2px;
  top:46px;
  width:114px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:47px;
  top:391px;
  width:93px;
  height:40px;
}
#u87 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:150px;
  top:391px;
  width:93px;
  height:40px;
}
#u89 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u90 {
  position:absolute;
  left:103px;
  top:503px;
  width:9px;
  height:9px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u92 {
  position:absolute;
  left:122px;
  top:503px;
  width:9px;
  height:9px;
}
#u93 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u94 {
  position:absolute;
  left:141px;
  top:503px;
  width:9px;
  height:9px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u96 {
  position:absolute;
  left:160px;
  top:503px;
  width:9px;
  height:9px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
