body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3970 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:520px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3971 {
  position:absolute;
  left:2px;
  top:252px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3972 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3973 {
  position:absolute;
  left:2px;
  top:0px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:14px;
}
#u3974 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:14px;
}
#u3975 {
  position:absolute;
  left:2px;
  top:-1px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3976 {
  position:absolute;
  left:0px;
  top:16px;
  width:290px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3977 {
  position:absolute;
  left:2px;
  top:9px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3978 {
  position:absolute;
  left:4px;
  top:19px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3979 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3980 {
  position:absolute;
  left:119px;
  top:25px;
  width:53px;
  height:16px;
}
#u3981 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:54px;
}
#u3982 {
  position:absolute;
  left:13px;
  top:60px;
  width:69px;
  height:53px;
}
#u3983 {
  position:absolute;
  left:2px;
  top:19px;
  width:65px;
  word-wrap:break-word;
}
#u3984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:54px;
}
#u3984 {
  position:absolute;
  left:208px;
  top:60px;
  width:69px;
  height:53px;
}
#u3985 {
  position:absolute;
  left:2px;
  top:19px;
  width:65px;
  word-wrap:break-word;
}
#u3986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:54px;
}
#u3986 {
  position:absolute;
  left:110px;
  top:60px;
  width:69px;
  height:53px;
}
#u3987 {
  position:absolute;
  left:2px;
  top:19px;
  width:65px;
  word-wrap:break-word;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3988 {
  position:absolute;
  left:0px;
  top:147px;
  width:290px;
  height:39px;
}
#u3989 {
  position:absolute;
  left:2px;
  top:12px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3990 {
  position:absolute;
  left:74px;
  top:159px;
  width:57px;
  height:16px;
}
#u3991 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3992 {
  position:absolute;
  left:248px;
  top:159px;
  width:29px;
  height:16px;
}
#u3993 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3994 {
  position:absolute;
  left:199px;
  top:159px;
  width:29px;
  height:16px;
}
#u3995 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3996 {
  position:absolute;
  left:151px;
  top:159px;
  width:29px;
  height:16px;
}
#u3997 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u3998 {
  position:absolute;
  left:9px;
  top:196px;
  width:48px;
  height:31px;
}
#u3999 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u4000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4000 {
  position:absolute;
  left:74px;
  top:204px;
  width:29px;
  height:16px;
}
#u4001 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4002 {
  position:absolute;
  left:137px;
  top:204px;
  width:23px;
  height:16px;
}
#u4003 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u4004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4004 {
  position:absolute;
  left:198px;
  top:199px;
  width:22px;
  height:22px;
}
#u4005 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4006 {
  position:absolute;
  left:244px;
  top:205px;
  width:36px;
  height:16px;
}
#u4007 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u4008 {
  position:absolute;
  left:9px;
  top:245px;
  width:48px;
  height:31px;
}
#u4009 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4010 {
  position:absolute;
  left:74px;
  top:253px;
  width:29px;
  height:16px;
}
#u4011 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4012 {
  position:absolute;
  left:137px;
  top:253px;
  width:23px;
  height:16px;
}
#u4013 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4014 {
  position:absolute;
  left:198px;
  top:248px;
  width:22px;
  height:22px;
}
#u4015 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4016 {
  position:absolute;
  left:244px;
  top:254px;
  width:36px;
  height:16px;
}
#u4017 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u4018 {
  position:absolute;
  left:9px;
  top:293px;
  width:48px;
  height:31px;
}
#u4019 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4020 {
  position:absolute;
  left:74px;
  top:301px;
  width:29px;
  height:16px;
}
#u4021 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4022 {
  position:absolute;
  left:137px;
  top:301px;
  width:23px;
  height:16px;
}
#u4023 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u4024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4024 {
  position:absolute;
  left:198px;
  top:296px;
  width:22px;
  height:22px;
}
#u4025 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4026 {
  position:absolute;
  left:244px;
  top:302px;
  width:36px;
  height:16px;
}
#u4027 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u4028 {
  position:absolute;
  left:9px;
  top:344px;
  width:48px;
  height:31px;
}
#u4029 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u4030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4030 {
  position:absolute;
  left:74px;
  top:352px;
  width:29px;
  height:16px;
}
#u4031 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4032 {
  position:absolute;
  left:137px;
  top:352px;
  width:23px;
  height:16px;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u4034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4034 {
  position:absolute;
  left:198px;
  top:347px;
  width:22px;
  height:22px;
}
#u4035 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4036 {
  position:absolute;
  left:244px;
  top:353px;
  width:36px;
  height:16px;
}
#u4037 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u4038 {
  position:absolute;
  left:9px;
  top:385px;
  width:48px;
  height:31px;
}
#u4039 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u4040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4040 {
  position:absolute;
  left:74px;
  top:393px;
  width:29px;
  height:16px;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4042 {
  position:absolute;
  left:137px;
  top:393px;
  width:23px;
  height:16px;
}
#u4043 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u4044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4044 {
  position:absolute;
  left:198px;
  top:388px;
  width:22px;
  height:22px;
}
#u4045 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4046 {
  position:absolute;
  left:244px;
  top:394px;
  width:36px;
  height:16px;
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u4048 {
  position:absolute;
  left:9px;
  top:426px;
  width:48px;
  height:31px;
}
#u4049 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u4050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4050 {
  position:absolute;
  left:74px;
  top:434px;
  width:29px;
  height:16px;
}
#u4051 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4052 {
  position:absolute;
  left:137px;
  top:434px;
  width:23px;
  height:16px;
}
#u4053 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u4054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4054 {
  position:absolute;
  left:198px;
  top:429px;
  width:22px;
  height:22px;
}
#u4055 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4056 {
  position:absolute;
  left:244px;
  top:435px;
  width:36px;
  height:16px;
}
#u4057 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u4058 {
  position:absolute;
  left:9px;
  top:467px;
  width:48px;
  height:31px;
}
#u4059 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u4060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4060 {
  position:absolute;
  left:74px;
  top:475px;
  width:29px;
  height:16px;
}
#u4061 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4062 {
  position:absolute;
  left:137px;
  top:475px;
  width:23px;
  height:16px;
}
#u4063 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u4064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4064 {
  position:absolute;
  left:198px;
  top:470px;
  width:22px;
  height:22px;
}
#u4065 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4066 {
  position:absolute;
  left:244px;
  top:476px;
  width:36px;
  height:16px;
}
#u4067 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4068 {
  position:absolute;
  left:33px;
  top:123px;
  width:29px;
  height:16px;
}
#u4069 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4070 {
  position:absolute;
  left:130px;
  top:123px;
  width:29px;
  height:16px;
}
#u4071 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4072 {
  position:absolute;
  left:221px;
  top:123px;
  width:43px;
  height:16px;
}
#u4073 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
